@font-face {
  font-family: 'DM Sans';
  src:
    local('DM Sans'),
    url('assets/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
}

@font-face {
  font-family: 'DM Sans';
  src:
    local('DM Sans'),
    url('assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

:root{
  --clr-purple-100: hsl(254, 88%, 90%);
  --clr-purple-500: hsl(256, 67%, 59%);

  --clr-yellow-100: hsl(31, 66%, 93%);
  --clr-yellow-500: hsl(39, 100%, 71%);
  
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 7%);

  /* for the background */
  --clr-light-gray: hsl(192, 15%, 94%, 0.5);  

  --ff-base: 'DM sans', sans-serif;

  --fw-400: 400;
  --fw-500: 500;

  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2.25rem;
  --fs-900: 4rem;

  --content-spacing: 2.5rem;
  --content-padding: 1.5rem;
}

/* preset css */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body{
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
}

img,
picture{
  max-width: 100%;
  display: block;
}

p,
h1{
  overflow-wrap: break-word;
}

/* styling */

body{
  font-family: var(--ff-base);
  font-weight: var(--fw-400);
  font-size: var(--fs-600);

  display: grid;
  place-content: center;

  background: var(--clr-light-gray);
  padding: var(--content-padding);
  color: var(--clr-black);
}

.grid-flow{
  display: grid;
  gap: var(--content-spacing);
}

.item{
  display: grid;
  padding: 1rem;
  gap: 1rem;

  border-radius: 1rem;
}

.item__title{
  font-size: var(--fs-800);
  font-weight: var(--fw-500);
}

.title-large{
  font-size: var(--fs-900);
}

.first-item{
  background: var(--clr-purple-500);
  color: var(--clr-white);
  justify-content: center;
  text-align: center;

  padding-inline: 2.5rem;
  padding-block: 3.5rem;
}

.first-item img {
  margin: auto;
}

.first-item span {
  font-style: italic;
}

.first-item span{
  color: var(--clr-yellow-500);
}

.second-item{
  background: var(--clr-white);
  padding: var(--content-padding);
}

.third-item{
  background: var(--clr-yellow-500);
  padding: var(--content-padding);
  padding-block-end: 0;
}

.third-item img{
  max-width: 18rem;
}

.fourth-item{
  background: var(--clr-purple-100);
  text-align: center;

  padding: var(--content-padding);
  gap: 2rem;
}

.fifth-item{
  background: var(--clr-purple-500);
  color: var(--clr-white);
  text-align: center;
  justify-content: start;

  gap: 3rem;
  padding-inline: 3rem;
  padding-block: var(--content-padding);
}

.fifth-item img {
  max-width: 20rem;
  margin: auto;
}

.sixth-item{
  background: var(--clr-white);
  gap: 1.5rem;

  padding: 2rem;
}

.seventh-item{
  background: var(--clr-yellow-100);
  gap: 1.5rem;

  padding-inline: 2rem;
  padding-block: 3rem;
}

.seventh-item span{
  color: var(--clr-purple-500);
  font-style: italic;
}

.eight-item{
  background: var(--clr-yellow-500);
  gap: 1.5rem;

  padding: 2rem;
}

.sixth-item img,
.seventh-item img,
.eight-item img,
.first-item img {
  max-width: 15rem;
}

@media(min-width: 70rem){
  .grid-flow{
    max-width: 93rem;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
    'one  two   two   three'
    'one  five  six   three'
    'four five  six   three'
    'four seven eight eight';
  }

  .item__title{
    text-align: start;
  }

  .item{
    /* align-content: center; */
    gap: 1rem;
    overflow: hidden;
  }

  .first-item{
    grid-area: two;
  
  }

  .first-item .item__title {
    text-align: center;
  }

  .second-item{
    grid-area: five;

    place-content: center;
    padding-inline-end: 0;

  }

  .third-item{
    grid-area: six;

    position: relative;
  }


  .third-item img{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -50%;
    left: 50%;

    transform: translateX(-50%);
  }

  .fourth-item{
    grid-area: three;

    align-content: center;
  }

  .fourth-item p{
    text-align: start;
  }

  .fourth-item img {
    max-width: 20rem;

    transform: translateX(30%);
  }

  .fifth-item{
    grid-area: eight;

    grid-template-columns: 1fr 1fr;
  }

  .fifth-item .item__title{
  margin-block: auto;
  }

  .sixth-item{
    grid-area: seven;
  }

  .seventh-item{
    grid-area: one;

    align-content: center;
  }
  .eight-item{
    grid-area: four;
  }

}